* {
    box-sizing: border-box;
  }
  
  
  .over, main , .footer-basic{
    background-color:rgb(153, 106, 102);
  }
  img {
    display: block;
    width: 170px;
    float: left;
    height: 170px;
    border: 2px solid lightblue;
    cursor: pointer;
  }
  #image-container {
    padding-left: 180px;
    border: 5px dashed rgb(227, 239, 239);
    width: 1000px;
    margin: 0 auto;
    height: 200px;
  }
  
  #leftImg,
  #rightImg,#middleImg {
    width: 200px;
    margin: 10px;
   
    border-radius: 10px;
  }
  
  
  button{
      margin: 20px;
      text-align: center;
      padding: 20px;
      background-color: antiquewhite;
      font-size: 19px;
      font-weight: bolder;
      border-radius: 20px;
  }
  #button{
      text-align: center;
  }
  h1{
    color: rgb(240, 243, 243);
    font-family: fantasy;
    text-align: center;
    margin: 40px;
    font-weight: bold;
    font-size: 40px;
    
}
  p{
      text-align: center;
      font-weight: bolder;
      font-size: 20px;
      font-family: cursive;
     
  }
  span{
      display: block;
      text-align: center;
      font-size: 20px;
      font-family: monospace;
     
  }
  #attempts{
      color: rgb(219, 211, 211);
      font-size: 42px;
      margin-top: 12px;
      text-shadow: 3px 3px 3px rgb(52, 51, 50);
  }
  #results{
      width: 800px;
      display: inline;
      text-align: center;
      font-size: 21px;
      height: 600px;
      color: rgb(251, 249, 249);
      line-height: 40px;
      text-shadow: 3px 3px 3px rgb(52, 51, 50);

  }
  #myChart{
      /* background-color: black; */
      margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 30px;
    }

/* header */
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
  background: url('https://i.pinimg.com/originals/66/6e/01/666e011d44d894787020abb64e441118.jpg');
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
  
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}
/* footer */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */